.login {
    height: 100%;
    display: flex;	
    align-items: center;
    justify-content: center;
    .login-block {
        display: flex;	
        align-items: center;
        justify-content: center;
        padding: 50px;
        min-width: 450px;
        border: 1px solid rgb(143, 140, 140);
        min-height: 350px;
        background: rgb(226, 225, 225);
        .welcome {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 25px;
        }
    }
    &-form {
        max-width: 300px;
        width: 100%;
        .ant-form-item-control-input-content {
            text-align: center;
        }
        .login-form-button {
            margin-top: 10px;
            font-size: 20px;
            line-height: 25px;
        }
    }
}