@import '~antd/dist/antd.css';
html{
  box-sizing: border-box;
}
body {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: #546e7a;
  background-color: #f7f8fa;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #546e7a;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}